@import "variables";

//
// BREADCRUMB
//
.breadcrumb {
  margin:  0 $contentPadding * -1 0 $contentPadding * -1;
  padding: 0 $contentPadding;
  height:      $breadcrumbHeight;
  line-height: $breadcrumbHeight;
  font-size: $fontSizeSmall;
  background-color: $breadcrumbBg;
  color:            $breadcrumbColor;
  li {
    display: inline-block;
  }
  a {
    color: $breadcrumbLinkColor;
  }
  .divider {
    display: inline-block;
    color: $breadcrumbSepColor;
  }
}
