@import "variables";

//
// COMMON
//
.caret {
  display: inline-block;
  width:  0;
  height: 0;
  vertical-align: top;
  border-top:   $caretSize solid #000000;
  border-right: $caretSize solid transparent;
  border-left:  $caretSize solid transparent;
  content: "";
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: $baseFontSize;
}
h1 {
  font-size: $fontSizeXLarge;
  position: relative;
  > .btn-group,
  > .btn {
    position: absolute;
    top: 0;
    margin-left: 13px;
  }
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkColorAlt;
  }
}