// generic
$baseBorderRadius: 2px;
$baseLineHeight:   30px;
$caretSize:        5px;
$baseColor:        #272d2f;

// font
$fontSizeMini:   9px;
$fontSizeSmall:  11px;
$baseFontSize:   13px;
$fontSizeLarge:  17px;
$fontSizeXLarge: 21px;

// layout
$mainBackground:      #ebeae8;
$backgroundColor:     #e3e0d7;
$backgroundLight:     #fff;
$backgroundColorDark: #000;
$pageSpacingTop:      20px;
$pageSpacingRight:    40px;
$pageSpacingBottom:   20px;
$pageSpacingLeft:     40px;
$contentPadding:      20px;
$pageShadow:          0 0 6px rgba(0, 0, 0, 0.35);

// header
$headerHeight: 50px;
$headerBg:     #ebcc57;
$headerColor:  #fff;

// footer
$footerHeight:    36px;
$footerBg:        $backgroundColorDark;
$footerColor:     $backgroundColor;
$footerLinkColor: $footerColor;
$footerFontSize:  $fontSizeSmall;

// group
$groupHeaderBg:          $headerBg;
$groupHeaderColor:       $headerColor;
$groupContentBackground: $backgroundColorDark;
$groupContentColor:      $backgroundColor;

// links
$linkColor:    #d18a1b;
$linkColorAlt: #ebcc57;

// breadcrumb
$breadcrumbHeight:    30px;
$breadcrumbBg:        $backgroundColorDark;
$breadcrumbColor:     $backgroundColor;
$breadcrumbLinkColor: $headerBg;
$breadcrumbSepColor:  $backgroundColor;

// tables
$tableHeadBg:       $headerBg;
$tableHeadColor:    #fff;
$tableBg:           $backgroundColorDark;
$tableColor:        $backgroundColor;
$tableLinkColor:    $headerBg;
$tableBorderColor:  #222;
$tableBtnBg:        $backgroundColor;
$tableBtnColor:     $linkColor;

// buttons
$buttonBackground: #fff;

// form
$formFieldBg:         #fff;
$formFieldBorder:     1px solid #FFF;
$formElementFontSize: $fontSizeSmall;
$formElementShadow:   none;

// pagination
$paginationBg:           lighten($mainBackground, 3);
$paginationHeight:       30px;
$paginationItemBg:       $backgroundColor;
$paginationLinkColor:    lighten($backgroundColorDark, 35);
$paginationCurrentColor: $backgroundColorDark;

// dropdown
$dropdownBg:         #fff;
$dropdownPadding:    3px 0;
$dropdownHPadding:   13px;
$dropdownBorder:     none;
$dropdownItemHeight: 26px;
$dropdownShadow:     0 2px 9px rgba(0, 0, 0, 0.5);
$dropdownHoverBg:    lighten($headerBg, 25);
$dropdownSelectedBg: lighten($headerBg, 10);

// filter
$filterHeadBg:      $headerBg;
$filterHeadColor:   $headerColor;
$filterLabelHeight: 26px;
$filterLabelBg:     $headerBg;
$filterLabelColor:  $headerColor;
$filterLabelBorder: 1px solid $headerBg;