// generic
$baseBorderRadius: 2px;
$baseLineHeight:   30px;

// font
$baseFontSize:   15px;
$fontSizeSmall:  13px;
$fontSizeMini:   11px;
$fontSizeLarge:  19px;
$fontSizeXLarge: 23px;

// layout
$mainBackground:      #ebeae8;
$backgroundColor:     #e3e0d7;
$backgroundLight:     #fff;
$backgroundColorDark: #000;
$pageSpacingTop:      20px;
$pageSpacingRight:    40px;
$pageSpacingBottom:   20px;
$pageSpacingLeft:     40px;
$contentPadding:      20px;
$pageShadow:          0 0 6px rgba(0, 0, 0, 0.35);

// header
$headerHeight:     50px;
$headerBackground: #ebcc57;
$headerColor:      #fff;

// footer
$footerHeight:   36px;
$footerBg:       $backgroundColorDark;
$footerColor:    $backgroundColor;
$footerFontSize: $fontSizeSmall;

// group
$groupHeaderBg:          $headerBackground;
$groupHeaderColor:       $headerColor;
$groupContentBackground: $backgroundColorDark;
$groupContentColor:      $backgroundColor;


$baseColor: #272d2f;

// links
$linkColor:    #d18a1b;
$linkColorAlt: #ebcc57;

// breadcrumb
$breadcrumbHeight:    30px;
$breadcrumbBg:        $backgroundColorDark;
$breadcrumbColor:     $backgroundColor;
$breadcrumbLinkColor: $headerBackground;
$breadcrumbSepColor:  #444;


// tables
$tableHeadBg:       $headerBackground;
$tableHeadColor:    #fff;
$tableBg:           $backgroundColorDark;
$tableColor:        $backgroundColor;
$tableLinkColor:    $headerBackground;
$tableBorderColor:  #222;
$tableBtnBg:        $backgroundColor;
$tableBtnColor:     $linkColor;

// buttons
$buttonBackground: #fff;

// form
$formFieldBg:     #fff;
$formFieldBorder: 1px solid darken($backgroundColor, 15);

// pagination
$paginationBg:        lighten($mainBackground, 3);
$paginationHeight:    30px;
$paginationItemBg:    $backgroundColor;
$paginationLinkColor: lighten($backgroundColorDark, 35);