@import "variables";

//
// FILTERS
//
.admin-filter {
  float: right;
  width: 23%;
}
.admin-filter-container {
}
.admin-filter-legend {
  position: relative;
  display: block;
  width: 100%;
  padding: 9px 13px;
  background: $filterHeadBg;
  color:      $headerColor;
  font-size: $fontSizeLarge;
  margin-bottom: 19px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  &:after {
  	top: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width:  0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(0,0,0,0);
  	border-top-color: $groupHeaderBg;
  	border-width: 9px;
  	left: 50%;
  	margin-left: -30px;
  }
}
.admin-filter-group {
  position: relative;
  margin-bottom: 13px;
  .admin-filter-label {
    position: relative;
    display: block;
    border: $filterLabelBorder;
    //border-bottom: none;
    border-top-left-radius:  $baseBorderRadius;
    border-top-right-radius: $baseBorderRadius;
    height:      $filterLabelHeight;
    line-height: $filterLabelHeight;
    background: $filterLabelBg;
    label,
    .dropdown-toggle,
    .admin-filter-type-label {
      color:      $filterLabelColor;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    label {
      float: left;
      display: block;
      height: $filterLabelHeight;
      padding: 0 13px;
      border-top-left-radius: $baseBorderRadius;
    }
    .dropdown-toggle {
      cursor: pointer;
      float: left;
      display: block;
      width: 10%;
      text-align: center;
      height: $filterLabelHeight;
      border-left:  $filterLabelBorder;
      .caret {
        border-top-color: $filterLabelColor;
        margin-top: $filterLabelHeight / 2 - $caretSize / 2;
      }
    }
    .admin-filter-type-label {
      float: left;
      height: $filterLabelHeight;
      padding: 0;
      width: 40%;
      white-space: pre;
    }
  }
  .admin-filter-element {
    width: 100%;
  }
  input[type="text"] {
    border-top: none;
    border-top-left-radius:  0;
    border-top-right-radius: 0;
  }
}