// generic
$baseBorderRadius: 2px;
$baseLineHeight:   30px;
$baseColor:        #272d2f;
$caretSize:        5px;

// font
$fontSizeMini:   9px;
$fontSizeSmall:  11px;
$baseFontSize:   13px;
$fontSizeLarge:  17px;
$fontSizeXLarge: 21px;

// layout
$mainBackground:      #272d2f url("../imgs/background-pattern.gif") repeat top left;
$backgroundColor:     #f3e9dc;
$backgroundLight:     #fff;
$backgroundColorDark: #2f343a;
$pageSpacingTop:      20px;
$pageSpacingRight:    40px;
$pageSpacingBottom:   20px;
$pageSpacingLeft:     40px;
$contentPadding:      20px;
$pageShadow:          0 0 5px rgba(0, 0, 0, 0.75);

// header
$headerHeight: 50px;
$headerBg:     #8ac8b9;
$headerColor:  #fff;

// footer
$footerHeight:    36px;
$footerBg:        $backgroundColorDark;
$footerColor:     $backgroundColor;
$footerLinkColor: $footerColor;
$footerFontSize:  $baseFontSize;

// group
$groupHeaderBg:          $headerBg;
$groupHeaderColor:       $headerColor;
$groupContentBackground: $backgroundColorDark;
$groupContentColor:      $backgroundColor;

// links
$linkColor:    #3ba38f;
$linkColorAlt: #43d1bd;

// breadcrumb
$breadcrumbHeight:    30px;
$breadcrumbBg:        $backgroundColorDark;
$breadcrumbColor:     $backgroundColor;
$breadcrumbLinkColor: $linkColor;
$breadcrumbSepColor:  $backgroundColor;

// tables
$tableHeadBg:      $headerBg;
$tableHeadColor:   $backgroundColor;
$tableBg:          $backgroundColorDark;
$tableColor:       $backgroundColor;
$tableLinkColor:   $headerBg;
$tableBorderColor: lighten($backgroundColorDark, 3);
$tableBtnBg:       lighten($backgroundColorDark, 7);
$tableBtnColor:    $linkColor;

// buttons
$buttonBackground: #fff;

// form
$formFieldBg:         #fff;
$formFieldBorder:     1px solid desaturate(darken($backgroundColor, 20), 30);
$formElementFontSize: $baseFontSize;
$formElementShadow:   0 2px 4px rgba(0, 0, 0, 0.12) inset;

// pagination
$paginationBg:           lighten($backgroundColor, 5);
$paginationHeight:       30px;
$paginationItemBg:       $backgroundColor;
$paginationLinkColor:    lighten($backgroundColorDark, 15);
$paginationCurrentColor: $backgroundColorDark;

// dropdown
$dropdownBg:         rgba(255, 255, 255, 0.95);
$dropdownPadding:    3px 0;
$dropdownBorder:     none;
$dropdownItemHeight: 26px;
$dropdownHPadding:   13px;
$dropdownShadow:     0 2px 9px rgba(0, 0, 0, 0.5);
$dropdownHoverBg:    lighten($headerBg, 25);
$dropdownSelectedBg: lighten($headerBg, 10);

// filter
$filterHeadBg:      $headerBg;
$filterHeadColor:   $headerColor;
$filterLabelHeight: 26px;
$filterLabelBg:     $headerBg;
$filterLabelColor:  $headerColor;
$filterLabelBorder: 1px solid darken($headerBg, 12);