@import "variables";

//
// TABLE
//
table {
  margin: 12px 0;
  background-color: $tableBg;
  color:            $tableColor;
  th, td {
    padding: 9px 13px;
  }
  th {
    text-align: left;
    font-weight: normal;
    background-color: $tableHeadBg;
    color: $tableHeadColor;
    a {
      color: $tableHeadColor;
    }
  }
  td {
    border-top: 1px solid $tableBorderColor;
    a {
      color: $tableLinkColor;
    }
  }
  .btn {
    background: $tableBtnBg;
    color:      $tableBtnColor;
  }
  .btn-group {
    .btn {
    }
  }
  &.admin-list-table {
    margin-top: 0;
    width: 100%;
  }
}