@import "variables";

* {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
.sf-toolbar {
  display: none !important;
}
.brand img {
  display: none;
}
.brand {
  font-size: $fontSizeLarge;
}

@import "common";
@import "layout";
@import "dropdown";
@import "form";
@import "buttons";
@import "breadcrumb";
@import "pagination";
@import "filters";
@import "table";





